.login-button {
  flex: 0;
  align-self: center;
  margin-top: 8px; /* Updated margin top */
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: 5px solid #000000;
  border-radius: 10px;
}

.login-heading {
  text-align: center;
  background-color: #FFFFFF;
  max-width: 80vw;
  padding: 16px;
  border-radius: 30px;
  border: 5px solid #000000;
}

.login-input {
  flex: 1;
  margin-bottom: 20px; /* Updated margin bottom */
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border: 5px solid #000000;
  border-radius: 10px;
  word-wrap: break-word;
}

.login-form {
  display: flex;
  flex-direction: column; /* Updated flex direction */
  align-items: center;
  margin-top: 16px;
}

.login-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1000vw;
  margin-bottom: 0px;
  border: 2px solid #000000;
  background-color: #ffd3cc;
  background: linear-gradient(45deg, #fefefe, #dbdbdb);
  background-size: 800% 800%;
  animation: backgroundAnimation 10s infinite linear;
}
